* {
    margin: 0;
    padding: 0;
    color: var(--fg-2);
    background: none;
    font-family: var(--ff-1);
    font-weight: var(--fw-1);
    min-width: 0;
    min-height: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
  
    &::before,
    &::after {
      box-sizing: border-box;
    }
  
    &::selection {
      color: var(--accent-1);
      background: var(--accent-2);
    }
  
    &::-webkit-scrollbar {
      width: 0.5em;
      background: var(--bg-1);
    }
  
    &::-webkit-scrollbar-thumb {
      background: color-mix(in srgb, var(--bg-1) 75%, var(--fg-1));
      border-radius: var(--br-5);
    }
  }
  
  html {
    color-scheme: light dark;
  }
  
  body {
    background-color: var(--bg-1);
    transition: background-color var(--duration-3);
  }
  